@font-face {
  font-family: "Gabriela";
  src: url("./Gabriela/Gabriela-Regular.ttf") format("truetype");
}

body {
  max-width: 100%;
  background: #c3d9c3;
  -webkit-animation: color 15s linear infinite;
  -moz-animation: color 15s linear infinite;
}

@-webkit-keyframes color {
  0% {
    background: #c3cbd9;
  }

  40% {
    background: #d9dad9;
  }

  80% {
    background: #d9c3ce;
  }

  100% {
    background: #d9d2c3;
  }
}

@-moz-keyframes color {
  0% {
    background: #c3cbd9;
  }

  40% {
    background: #d9dad9;
  }

  80% {
    background: #d9c3ce;
  }

  100% {
    background: #d9d2c3;
  }
}

html {
  scroll-behavior: smooth;
}

#my-name {
  position: absolute;
  left: 6.5rem;
  top: 10%;
  margin-left: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  background-color: white;
  font-size: 2rem;
  font-family: "Gabriela";
  opacity: 0.88;
  cursor: default;
}

.header-links {
  position: absolute;
  padding: 0 1rem 0 1rem;
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content: flex-end;
  border-radius: 1rem;
  background-color: white;
  opacity: 0.9;
}

.header-links a {
  padding: 0 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "Gabriela";
  color: black;
}

.header-links a:hover {
  background-color: grey;
  border-bottom: solid 0.2rem green;
  opacity: 0.8;
  transition: all 0.2s linear;
}

#image {
  width: 100vw;
  height: 100vh;
}

.block-title {
  font-family: "Gabriela";
}

.first-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.block {
  background-color: white;
  width: 45%;
  margin: 1rem;
  padding: 4rem;
  opacity: 0.8;
  cursor: default;
}

.block p {
  margin: 1rem 1rem 1rem 0;
  font-family: "Gabriela";
  font-size: 1.2rem;
}

.fukuoka-u {
  width: 30%;
  margin: 1rem;
}

.second-container {
  display: flex;
  justify-content: center;
  font-family: "Gabriela";
  margin-left: 1rem;
  margin-top: 1rem;
}

.second-container img {
  width: 40vw;
  height: 50vh;
  margin-top: 1rem;
}

.anime {
  width: 36vw;
}

footer {
  background-color: black;
  color: white;
  font-family: "Gabriela";
  text-align: center;
  opacity: 0.88;
}
